<link rel="stylesheet" href="/css/employee_position-list.css">
<div id="position-list">
    <div id="heading">
        <div class="hide" id="turn-back-btn-for-searching-event">
            <a><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <span>Danh sách chức vụ</span>
        </div>
        <div id="add-btn">
            <a href="/admin/category/employee/add-position">Thêm loại chức vụ</a>
        </div>
        <div id="search">
            <input class="search" type="text" placeholder="Tìm kiếm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <table>
        <thead>
            <tr class="table_title">
                <th id="ordinal">
                    <span class="title_name">STT</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="ordinal"></i>                 
                </th>
                <th id="position_code">
                    <span class="title_name">Mã chức vụ</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="position_code"></i>
                </th>
                <th id="position">
                    <span class="title_name">Tên chức vụ</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="position"></i>
                </th>
                <th id="salary_per_day">
                    <span class="title_name">Lương cơ bản (VNĐ/Ngày)</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="salary_per_day"></i>
                </th>
                <th id="dateCreated">
                    <span class="title_name">Ngày chỉnh sửa</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="dateCreated"></i>
                </th>
                <th id="update-position">
                    <span class="title_name">Sửa</span>
                </th>
                <th id="delete-position">
                    <span class="title_name">Xoá</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < positionList.length; i++) { %>
                <tr class="body" id=<%= i+1 %>>
                    <td id="ordinal"><%= (i + 1) %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="position_code"><%= positionList[i].position_code %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="position"><%= positionList[i].position %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="salary_per_day"><%= positionList[i].salary_per_day %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="dateCreated"><%= positionList[i].dateCreated %></td>
                    <td class="update-position">
                        <a href="/admin/category/employee/update-position/<%= positionList[i]._id.toString() %>">
                            <i class="fa-sharp fa-solid fa-pencil"></i></a>
                    </td>
                    <td class="delete-position">
                        <a position_id=<%= positionList[i]._id.toString() %>><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script src="/js/employee_position-list.js"></script>