<link rel="stylesheet" href="/css/compliment_view-employee-compliments.css">
<div id="view-employee-compliments">
    <div id="turn-back-btn-for-redirecting-event">
        <a href="/admin/category/compliment/employee-compliments-list">
            <i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
    </div>
    <div id="title">
        <span>Thông tin khen thưởng chi tiết</span>
    </div>
    <div id="employee-information">
        <div id="employee-information_heading">
            <div id="title">
                <span>Mã nhân viên: <%= specifiedEmployee.employee_code %></span>
            </div>
        </div>
        <div id="employee-information_container">
            <div id="container_info">
                <div id="avatar">
                    <img src=<%=specifiedEmployee.avatar_url %> alt="">
                </div>
                <ul class="info" id="grid-left">
                    <li class="info-item">Tên nhân viên: <b><%= specifiedEmployee.name %></b></li>
                    <li class="info-item">CMND, CCCD: <b><%= specifiedEmployee.identifier %></b></li>
                    <li class="info-item">Ngày cấp: <%= specifiedEmployee.identifier_date %></li>
                    <li class="info-item">Nơi cấp: <%= specifiedEmployee.identifier_place %></li>
                    <li class="info-item">Giới tính: <b><%= specifiedEmployee.gender %></b></li>
                    <li class="info-item">Ngày sinh: <b><%= specifiedEmployee.birthday %></b></li>
                    <li class="info-item">Nơi sinh: <b><%= specifiedEmployee.birthplace %></b></li>
                    <li class="info-item">Quốc gia: <%= specifiedEmployee.country %></li>
                    <li class="info-item">Dân tộc: <%= specifiedEmployee.ethnic %></li>
                    <li class="info-item">Số điện thoại: <b><%= specifiedEmployee.phone %></b></li>
                    <li class="info-item">Tôn giáo: <%= specifiedEmployee.religion %></li>
                </ul>
                <ul class="info" id="grid-right">
                    <li class="info-item">Hộ khẩu: <%= specifiedEmployee.household %></li>
                    <li class="info-item">Tạm trú: <%= specifiedEmployee.temporary_address %></li>
                    <li class="info-item">Phòng ban: <b><%= specifiedEmployee.department %></b></li>
                    <li class="info-item">Loại nhân viên: <span
                        <% if(specifiedEmployee.employee_type == "Thực tập") { %>
                            class="status-block light-green-block"
                        <% } else if (specifiedEmployee.employee_type == "Bán thời gian") { %>
                            class="status-block blur-green-block"
                        <% } else { %>
                            class="status-block green-block"
                        <% } %>
                        ><%= specifiedEmployee.employee_type %></span></li>
                    <li class="info-item">Chức vụ: <b><%= specifiedEmployee.position %></b></li>
                    <li class="info-item">Loại bằng cấp: <%= specifiedEmployee.degree %></li>
                    <li class="info-item">Ngày chỉnh sửa cuối cùng: <%= specifiedEmployee.dateCreated %></li>
                    <li class="info-item ">Trạng thái: <span
                    <% if(specifiedEmployee.status == "Đang làm việc") { %>
                        class="status-block green-block"
                    <% } else { %>
                        class="status-block red-block"
                    <% } %>
                    ><%= specifiedEmployee.status %></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="employee-compliments-list">
        <div id="heading" class="employee-compliments-list_heading">
            <div id="turn-back-btn-for-searching-event">
                <a><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
            </div>
            <div id="title">
                <span>Danh sách khen thưởng</span>
            </div>
            <div id="add-btn">
                <a href="/admin/category/compliment/add-employee-compliment/<%= specifiedEmployeeInComplimentDBs._id %>">Thêm khen thưởng</a>
            </div>
            <div id="search">
                <input class="search" type="text" placeholder="Tìm kiếm">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <table>
            <thead>
                <tr class="table_title">
                    <th id="ordinal">
                        <span class="title_name">STT</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="ordinal"></i>
                    </th>
                    <th id="compliment_code">
                        <span class="title_name">Mã khen thưởng</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="compliment_code"></i>
                    </th>
                    <th id="compliment">
                        <span class="title_name">Tên khen thưởng</span>
                    </th>
                    <th id="numbers">
                        <span class="title_name">Số quyết định</span>
                    </th>
                    <th id="compliment_type">
                        <span class="title_name">Loại khen thưởng</span>
                    </th>
                    <th id="description">
                        <span class="title_name">Mô tả</span>
                    </th>
                    <th id="dateCreated">
                        <span class="title_name">Ngày quyết định</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="dateCreated"></i>
                    </th>
                    <th id="update-employee-compliment">
                        <span class="title_name">Sửa</span>
                    </th>
                    <th id="delete-employee-compliment">
                        <span class="title_name">Xoá</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < specifiedEmployeeInComplimentDBs.compliments_list.length; i++) { %>
                    <tr class="body" id=<%=i+1 %>>
                        <td id="ordinal">
                            <%= (i + 1) %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="compliment_code">
                            <%= specifiedEmployeeInComplimentDBs.compliments_list[i].compliment_code %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="compliment">
                            <%= specifiedEmployeeInComplimentDBs.compliments_list[i].compliment %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="numbers">
                            <%= specifiedEmployeeInComplimentDBs.compliments_list[i].numbers %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="compliment_type">
                            <%= specifiedEmployeeInComplimentDBs.compliments_list[i].compliment_type %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="description">
                            <%= specifiedEmployeeInComplimentDBs.compliments_list[i].description %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="dateCreated">
                            <%= specifiedEmployeeInComplimentDBs.compliments_list[i].dateCreated %>
                        </td>
                        <td class="update-employee-compliment">
                            <a href="
                            <%= "/admin/category/compliment/update-employee-compliment/"
                                + specifiedEmployeeInComplimentDBs._id.toString() + "/"
                                + specifiedEmployeeInComplimentDBs.compliments_list[i]._id.toString() %>"><i
                                class="fa-sharp fa-solid fa-pencil"></i> </a>
                        </td>
                        <td class="delete-employee-compliment">
                            <a compliment_id=<%=specifiedEmployeeInComplimentDBs.compliments_list[i]._id.toString() %>><i
                                class="fa-sharp fa-solid fa-trash"></i> </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/compliment_view-employee-compliments.js"></script>