<link rel="stylesheet" href="/css/group_group-list.css">
<div id="group-list">
    <div id="heading">
        <div class="hide" id="turn-back-btn-for-searching-event">
            <a><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <span>Danh sách nhóm</span>
        </div>
        <div id="search">
            <input class="search" type="text" placeholder="Tìm kiếm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <table>
        <thead>
            <tr class="table_title">
                <th id="ordinal">
                    <span class="title_name">STT</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="ordinal"></i>                 
                </th>
                <th id="group_code">
                    <span class="title_name">Mã nhóm</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="group_code"></i>
                </th>
                <th id="group">
                    <span class="title_name">Tên nhóm</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="group"></i>
                </th>
                <th id="employeeQuantity">
                    <span class="title_name">Số nhân viên</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="employeeQuantity"></i>
                </th>
                <th id="dateCreated">
                    <span class="title_name">Ngày tạo</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="dateCreated"></i>
                </th>
                <th id="view-group">
                    <span class="title_name">Xem</span>
                </th>
                <th id="delete-group">
                    <span class="title_name">Xoá</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < groupList.length; i++) { %>
                <tr class="body" id=<%= i+1 %>>
                    <td id="ordinal"><%= (i + 1) %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="group_code"><%= groupList[i].group_code %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="group"><%= groupList[i].group %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="employeeQuantity"><%= groupList[i].employee_list.length %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="dateCreated"><%= groupList[i].dateCreated %></td>
                    <td class="view-group">
                        <a href="/admin/category/group/view-group/<%= groupList[i]._id.toString() %>">
                            <i class="fa-sharp fa-solid fa-eye"></i></a>
                    </td>
                    <td class="delete-group">
                        <a group_id=<%= groupList[i]._id.toString() %>><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script src="/js/group_group-list.js"></script>