<link rel="stylesheet" href="/css/employee_department-list.css">
<div id="department-list">
    <div id="heading">
        <div class="hide" id="turn-back-btn">
            <a><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <span>Danh sách phòng ban</span>
        </div>
        <div id="add-btn">
            <a href="/admin/category/employee/add-department">Thêm phòng ban</a>
        </div>
        <div id="search">
            <input class="search" type="text" placeholder="Tìm kiếm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <table>
        <thead>
            <tr class="table_title">
                <th id="ordinal">
                    <span class="title_name">STT</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="ordinal"></i>                 
                </th>
                <th id="department_code">
                    <span class="title_name">Mã phòng ban</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="department_code"></i>
                </th>
                <th id="department">
                    <span class="title_name">Tên phòng ban</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="department"></i>
                </th>
                <th id="multipleSalary">
                    <span class="title_name">Hệ số lương</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="multipleSalary"></i>
                </th>
                <th id="dateCreated">
                    <span class="title_name">Ngày tạo</span>
                    <i class="fa-solid fa-arrow-down-short-wide" id="dateCreated"></i>
                </th>
                <th id="update-department">
                    <span class="title_name">Sửa</span>
                </th>
                <th id="delete-department">
                    <span class="title_name">Xoá</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < departmentList.length; i++) { %>
                <tr class="body" id=<%= i+1 %>>
                    <td id="ordinal"><%= (i + 1) %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="department_code"><%= departmentList[i].department_code %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="department"><%= departmentList[i].department %></td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="multipleSalary">x<%= departmentList[i].multipleSalary %> lần</td>
                    <td class="body_enable-searching body_enable-sorting"
                        id="dateCreated"><%= departmentList[i].dateCreated %></td>
                    <td class="update-department">
                        <a href="/admin/category/employee/update-department/<%= departmentList[i]._id.toString() %>">
                            <i class="fa-sharp fa-solid fa-pencil"></i></a>
                    </td>
                    <td class="delete-department">
                        <a department_id=<%= departmentList[i]._id.toString() %>><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script src="/js/employee_department-list.js"></script>