<link rel="stylesheet" href="/css/compliment_view-group-compliments.css">
<div id="view-group-compliments">
    <div id="turn-back-btn-for-redirecting-event">
        <a href="/admin/category/compliment/group-compliments-list">
            <i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
    </div>
    <div id="title">
        <span>Thông tin khen thưởng chi tiết</span>
    </div>
    <div id="group-information">
        <div id="group-information_heading">
            <div id="title">
                <span>Thông tin cơ bản đội nhóm</span>
            </div>
            <div id="add-btn">
                <a href="/admin/category/compliment/view-group-compliments/view-group/<%= specifiedGroupInComplimentDBs._id+"/"+specifiedGroup._id %>">Chi tiết thông tin nhóm</a>
            </div>
        </div>
        <div id="group-information_container">
            <ul>
                    <li class="container_items" id="group_code">
                        <span class="title">Mã nhóm: </span>
                        <span class="content">
                            <%= specifiedGroup.group_code %>
                        </span>
                    </li>
                    <li class="container_items" id="group">
                        <span class="title">Tên nhóm: </span>
                        <span class="content">
                            <%= specifiedGroup.group %>
                        </span>
                    </li>
                    <li class="container_items" id="dateCreated">
                        <span class="title">Ngày tạo (chỉnh sửa cuối cùng): </span>
                        <span class="content">
                            <%= specifiedGroup.dateCreated %>
                        </span>
                    </li>
                    <li class="container_items" id="description">
                        <span class="title">Mô tả nhóm: </span>
                        <span class="content">
                            <%= specifiedGroup.description %>
                        </span>
                    </li>
                </ul>
        </div>
    </div>
    <div id="group-compliments-list">
        <div id="heading" class="group-compliments-list_heading">
            <div id="turn-back-btn-for-searching-event">
                <a>
                    <i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
            </div>
            <div id="title">
                <span>Danh sách khen thưởng</span>
            </div>
            <div id="add-btn">
                <a href="/admin/category/compliment/add-group-compliment/<%= specifiedGroupInComplimentDBs._id %>">Thêm khen thưởng</a>
            </div>
            <div id="search">
                <input class="search" type="text" placeholder="Tìm kiếm">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <table>
            <thead>
                <tr class="table_title">
                    <th id="ordinal">
                        <span class="title_name">STT</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="ordinal"></i>
                    </th>
                    <th id="compliment_code">
                        <span class="title_name">Mã khen thưởng</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="compliment_code"></i>
                    </th>
                    <th id="compliment">
                        <span class="title_name">Tên khen thưởng</span>
                    </th>
                    <th id="numbers">
                        <span class="title_name">Số quyết định</span>
                    </th>
                    <th id="compliment_type">
                        <span class="title_name">Loại khen thưởng</span>
                    </th>
                    <th id="description">
                        <span class="title_name">Mô tả</span>
                    </th>
                    <th id="dateCreated">
                        <span class="title_name">Ngày quyết định</span>
                        <i class="fa-solid fa-arrow-down-short-wide" id="dateCreated"></i>
                    </th>
                    <th id="update-group-compliment">
                        <span class="title_name">Sửa</span>
                    </th>
                    <th id="delete-group-compliment">
                        <span class="title_name">Xoá</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < specifiedGroupInComplimentDBs.compliments_list.length; i++) { %>
                    <tr class="body" id=<%=i+1 %>>
                        <td id="ordinal">
                            <%= (i + 1) %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="compliment_code">
                            <%= specifiedGroupInComplimentDBs.compliments_list[i].compliment_code %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="compliment">
                            <%= specifiedGroupInComplimentDBs.compliments_list[i].compliment %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="numbers">
                            <%= specifiedGroupInComplimentDBs.compliments_list[i].numbers %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="compliment_type">
                            <%= specifiedGroupInComplimentDBs.compliments_list[i].compliment_type %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="description">
                            <%= specifiedGroupInComplimentDBs.compliments_list[i].description %>
                        </td>
                        <td class="body_enable-searching body_enable-sorting" id="dateCreated">
                            <%= specifiedGroupInComplimentDBs.compliments_list[i].dateCreated %>
                        </td>
                        <td class="update-group-compliment">
                            <a href="
                            <%= "/admin/category/compliment/update-group-compliment/"
                                + specifiedGroupInComplimentDBs._id.toString() + "/"
                                + specifiedGroupInComplimentDBs.compliments_list[i]._id.toString() %>"><i
                                class="fa-sharp fa-solid fa-pencil"></i> </a>
                        </td>
                        <td class="delete-group-compliment">
                            <a compliment_id=<%=specifiedGroupInComplimentDBs.compliments_list[i]._id.toString() %>><i
                                class="fa-sharp fa-solid fa-trash"></i> </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/compliment_view-group-compliments.js"></script>