<link rel="stylesheet" href="/css/add-simple-db.css">
<link rel="stylesheet" href="/css/discipline_add-group-discipline.css">
<div id="add-group-discipline">
    <div id="heading">
        <div id="turn-back-btn-for-redirecting-event">
            <% if (specifiedGroup) { %>
                <a href="/admin/category/discipline/view-group-discipline/<%= specifiedGroup._id.toString() %>">
            <% } else { %>
                <a href="/admin/category/discipline/group-discipline-list">
            <% } %>
                <i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <% if (isUpdating) { %>
                <span>Cập nhật kỷ luật đội nhóm</span>
            <% } else { %>
                <span>Thêm kỷ luật đội nhóm</span>
            <% } %>
        </div>
    </div>
    <form method="POST" onsubmit="return submitFormCancellation"
    action="/api/admin/<%= isUpdating ? 'update-group-discipline/' + specifiedDiscipline.discipline_code
    : (specifiedGroup ? 'add-group-discipline' + "/" + groupId : 'add-group-discipline' )%>">
        <div class="form_text-input more-condition" id="discipline">
            <label for="discipline">Tên kỷ luật</label>
            <input class="adjust-upper-and-lower-case" value="<%= isUpdating ? specifiedDiscipline.discipline : '' %>"
            name="discipline" type="text" placeholder="VD: Kỷ luật hoàn thành chậm dự án Mạng xã hội chung cư,..." required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="numbers">
            <label for="numbers">Quyết định số</label>
            <input class="adjust-upper-case"
            value="<%= isUpdating ? specifiedDiscipline.numbers : '' %>" name="numbers" type="text"
            placeholder="Nhập số quyết định" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input" id="dateCreated">
            <label for="dateCreated">Ngày quyết định</label>
            <% const now = new Date(Date.now()),
            date = now.getDate().toString().length == 1 ? "0" + now.getDate() : now.getDate(),
            month = (now.getMonth() + 1).toString().length == 1 ? "0" + (now.getMonth() + 1) : (now.getMonth() + 1)%>
            
            <input <% if(isUpdating) { %> readonly <% } %> name="dateCreated" type="date" required
            class="adjust-upper-case" value="<%= isUpdating ? specifiedDiscipline.dateCreated : `${now.getFullYear()}-${month}-${date}` %>">
        </div>
        <div class="form_select-input" id="group">
            <label for="group">Chọn đội nhóm</label>
            <select <% if(isUpdating || specifiedGroup) { %> disabled <% } %> name="group" required
            data="<%= (isUpdating || specifiedGroup) ? specifiedGroup.group_code : '' %>">
                <% if (!(isUpdating || specifiedGroup)) { %>
                    <option selected disabled value="">--Chọn đội nhóm--</option>
                <% } %>
                <% for(var index in allGroups) { %>
                    <option value="<%= allGroups[index].group_code + "-" + allGroups[index].group %>">
                    <%= `${allGroups[index].group_code} - ${allGroups[index].group}` %></option>
                <% } %>
            </select>
            <% if (isUpdating || (specifiedGroup != undefined)) { %>
            <input type="hidden" name="group"><% } %>
        </div>
        <div class="form_select-input" id="discipline_type">
            <label for="discipline_type">Chọn loại kỷ luật</label>
            <select name="discipline_type" required <% if(isUpdating) { %> disabled <% } %>
            data="<%= (isUpdating) ? specifiedDiscipline.discipline_type : '' %>">
                <% if (!isUpdating) { %>
                    <option selected disabled value="">--Chọn loại kỷ luật--</option>
                <% } %>
                <% for(var index in allDiscipline_type) { %>
                <option value="<%= allDiscipline_type[index].discipline_type_code
                + "-" + allDiscipline_type[index].discipline_type %>">
                    <%= `${allDiscipline_type[index].discipline_type_code} - ${allDiscipline_type[index].discipline_type}` %></option>
                <% } %>
            </select>
            <% if (isUpdating) { %><input type="hidden" name="discipline_type"><% } %>
        </div>
        <div class="form_textarea-input" id="description">
            <label for="description">Mô tả kỷ luật</label>
            <textarea name="description" id="description" cols="66" rows="10"><%= isUpdating ? specifiedDiscipline.description.trim() : '' %></textarea>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
</div>
<script src="/js/discipline_add-group-discipline.js"></script>