<link rel="stylesheet" href="/css/employee-page_contract.css">
<% if (!specifiedContract) { %>
    <span style="display: block;font-size: 2.4rem;padding: 40px">
        Bạn chưa có thông tin về hợp đồng ở đây, vui lòng liên hệ với quản trị viên!
    </span>
<% } else { %>
    <div id="view-contract">
        <div id="title">
            <span>Thông tin hợp đồng</span>
        </div>
        <div id="main_container">
            <div id="main_container_label">
                <span>Mã hợp đồng: <%= specifiedContract.contract_code %></span>
            </div>
            <div id="main_container_info">
                <div id="avatar">
                    <img src=<%=user.avatar_url %> alt="">
                </div>
                <ul class="info" id="grid-left">
                    <li class="info-item">Mã nhân viên: <b><%= user.employee_code %></b></li>
                    <li class="info-item">Tên nhân viên: <b><%= user.name %></b></li>
                    <li class="info-item">Ngày sinh: <%= user.birthday %></li>
                    <li class="info-item">Nơi sinh: <%= user.birthplace %></li>
                    <li class="info-item">Phòng ban: <%= user.department %></li>
                    <li class="info-item">Loại bằng cấp: <%= user.degree %></li>
                    <li class="info-item">Loại nhân viên: <span
                        <% if(user.employee_type == "Thực tập") { %>
                            class="status-block light-green-block"
                        <% } else if (user.employee_type == "Bán thời gian") { %>
                            class="status-block blur-green-block"
                        <% } else { %>
                            class="status-block green-block"
                        <% } %>
                    ><%= user.employee_type %></span></li>
                    <li class="info-item">Loại hợp đồng: <b><%= specifiedContract.contract_type %></b></li>
                    <li class="info-item">Loại tính thuế: <b><%= specifiedContract.tax_type %></b></li>
                </ul>
                <ul class="info" id="grid-right">
                    <li class="info-item">Pháp nhân: <%= specifiedContract.corporation %></li>
                    <li class="info-item">Ngày ký: <%= specifiedContract.signingDate %></li>
                    <li class="info-item">Ngày bắt đầu: <b><%= specifiedContract.startingDate %></b></li>
                    <li class="info-item">Ngày đi làm thực: <b><%= specifiedContract.actuallyDate %></b></li>
                    <li class="info-item">Ngày kết thúc: <b><%= specifiedContract.endingDate %></b></li>
                    <% const totalSalary = specifiedContract.originalSalary *  specifiedContract.negotiableRatio/100 * 30; %>
                    <li class="info-item">Tổng lương: <b><%= totalSalary %> VNĐ/30_ngày</b></li>
                    <li class="info-item">Quỹ công ty: <%= specifiedContract.internalFund %> VNĐ/30_ngày</li>
                    <li class="info-item">Phí đảng, công đoàn: <%= specifiedContract.internalFund %> VNĐ/30_ngày</li>
                    <li class="info-item">Ngày khởi tạo: <%= specifiedContract.dateCreated %></li>
                    <li class="info-item">Ghi chú: <%= specifiedContract.description %></li>
                </ul>
            </div>
        </div>
    </div>
<% } %>