<link rel="stylesheet" href="/css/employee_employee-type-list.css">
<div id="employee-type-list">
    <div id="heading">
        <div class="hide" id="turn-back-btn">
            <a href="/admin/category/employee/employee-type-list"><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="title">
            <span>Các loại nhân viên</span>
        </div>
        <div id="add-btn">
            <a href="/admin/category/employee/add-employee-type">Thêm loại nhân viên</a>
        </div>
        <div id="search">
            <input class="search" type="text" placeholder="Tìm kiếm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <table>
        <thead>
            <tr class="table_title">
                <th id="ordinal">
                    <span class="title_name">STT</span>                 
                </th>
                <th id="employee-type_code">
                    <span class="title_name">Mã loại nhân viên</span>
                    <i class="fa-solid fa-sort" id="employee-type_code"></i>
                </th>
                <th id="employee-type">
                    <span class="title_name">Tên loại nhân viên</span>
                    <i class="fa-solid fa-sort" id="employee-type"></i>
                </th>
                <th id="multipleSalary">
                    <span class="title_name">Hệ số lương</span>
                    <i class="fa-solid fa-sort" id="multipleSalary"></i>
                </th>
                <th id="dateCreated">
                    <span class="title_name">Ngày tạo</span>
                    <i class="fa-solid fa-sort" id="dateCreated"></i>
                </th>
                <th id="delete-employee-type">
                    <span class="title_name">Xoá</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < employeeTypeList.length; i++) { %>
                <tr class="body" id=<%= i+1 %>>
                    <td id="ordinal"><%= (i + 1) %></td>
                    <td class="body_enable-searching body_enable-sorting" id="employee-type_code"><%= employeeTypeList[i].employee_type_code %></td>
                    <td class="body_enable-searching body_enable-sorting" id="employee-type"><%= employeeTypeList[i].employee_type %></td>
                    <td class="body_enable-searching body_enable-sorting" id="multipleSalary">x<%= employeeTypeList[i].multipleSalary %> lần</td>
                    <td class="body_enable-searching body_enable-sorting" id="dateCreated"><%= employeeTypeList[i].dateCreated %></td>
                    <td class="delete-employee-type">
                        <a employee_type_id=<%= employeeTypeList[i]._id.toString() %>><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script src="/js/employee_employee-type-list.js"></script>