<link rel="stylesheet" href="/css/employee_update.css">
<div id="update-employee">
    <div id="heading">
        <div id="turn-back-btn">
            <a href="/admin/category/employee/employee-list"><i class="fa-solid fa-arrow-left-long"></i> Thoát</a>
        </div>
        <div id="form-title">
            <span>Chỉnh sửa thông tin nhân viên</span>
        </div>
    </div>
    <form method="POST" action="<%= '/api/admin/update-employee/' + specifiedUser._id.toString() %>"
        enctype="multipart/form-data" onsubmit="return submitFormCancellation">
        <div class="form_text-input more-condition" id="name">
            <label for="name">Họ và Tên</label>
            <input class="adjust-upper-and-lower-case" value="<%=specifiedUser.name%>" name="name" type="text"
                placeholder="Nguyễn Thị A" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input" id="avatar">
            <label for="avatar">Ảnh đại diện</label>
            <input name="avatar" type="file" accept="image/jpg">
        </div>
        <div class="form_text-input more-condition" id="email">
            <label for="email">Địa chỉ gmail</label>
            <input value="<%= specifiedUser.account.email %>" name="email" type="text" placeholder="name.01@gmail.com"
                required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_select-input" id="gender">
            <label for="gender">Giới tính</label>
            <select data="<%= specifiedUser.gender %>" name="gender">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
        <div class="form_text-input" id="birthday">
            <label for="birthday">Ngày sinh</label>
            <input value="<%= specifiedUser.birthday %>" name="birthday" type="date" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="identifier">
            <label for="identifier">Số CCCD hoặc CMND</label>
            <input value="<%= specifiedUser.identifier %>" name="identifier" type="text" placeholder="038203032575"
                required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input large-block" id="identifier_place">
            <label for="identifier_place">Nơi cấp</label>
            <input value="<%= specifiedUser.identifier_place %>" name="identifier_place" type="text"
                placeholder="UBND phường Đa-Kao, Quận 1, thành phố Hồ Chí Minh" required>
        </div>
        <div class="form_text-input" id="identifier_date">
            <label for="identifier_date">Ngày cấp</label>
            <input value="<%= specifiedUser.identifier_date %>" name="identifier_date" type="date" required>
        </div>
        <div class="form_text-input more-condition" id="birthplace">
            <label for="birthplace">Nơi sinh</label>
            <input class="adjust-upper-and-lower-case" value="<%= specifiedUser.birthplace %>" name="birthplace"
                type="text" placeholder="Hà Nội" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="country">
            <label for="country">Quốc gia</label>
            <input class="adjust-upper-and-lower-case" value="<%= specifiedUser.country %>" name="country" type="text"
                value="Việt Nam" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="ethnic">
            <label for="ethnic">Dân tộc</label>
            <input class="adjust-upper-and-lower-case" value="<%= specifiedUser.ethnic %>" name="ethnic" type="text"
                placeholder="Kinh" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="religion">
            <label for="religion">Tôn giáo</label>
            <input class="adjust-upper-and-lower-case" value="<%= specifiedUser.religion %>" name="religion" type="text"
                value="Không" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="phone">
            <label for="phone">Số điện thoại</label>
            <input value="<%= specifiedUser.phone %>" name="phone" type="text" placeholder="0963341278" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <!-- ========================================================================= -->
        <div class="form_select-input more-condition large-block" id="bank_name">
            <label for="bank_name">Tên ngân hàng</label>
            <select name="bank_name">
                <option selected disabled value="">--Chọn ngân hàng--</option>
                
            </select>
        </div>
        <div class="form_text-input more-condition" id="bank_number">
            <label for="bank_number">Số thẻ</label>
            <input name="bank_number" type="text" placeholder="0963341278" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="bank_account_number">
            <label for="bank_account_number">Số tài khoản</label>
            <input name="bank_account_number" type="text" placeholder="0963341278" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <div class="form_text-input more-condition" id="expiredDate">
            <label for="expiredDate">Ngày hết hạn</label>
            <input name="expiredDate" type="text" placeholder="09/27" required>
            <div class="form_text-input_err-message"></div>
        </div>
        <!-- ========================================================================= -->
        <div class="form_text-input large-block" id="household">
            <label for="household">Hộ khẩu</label>
            <input value="<%= specifiedUser.household %>" name="household" type="text"
                placeholder="97 Man Thiện, phường Hiệp Phú, thành phố Thủ Đức, thành phố Hồ Chí Minh" required>
        </div>
        <div class="form_text-input large-block" id="temporary_address">
            <label for="temporary_address">Tạm trú</label>
            <input value="<%= specifiedUser.temporary_address %>" name="temporary_address" type="text"
                placeholder="97 Man Thiện, phường Hiệp Phú, thành phố Thủ Đức, thành phố Hồ Chí Minh" required>
        </div>
        <div class="form_select-input" id="department">
            <label for="department">Phòng ban</label>
            <select data="<%= specifiedUser.department %>" name="department">
                <% for (var index in departmentList) { %>
                    <option value="<%= departmentList[index].department %>">
                        <%= departmentList[index].department %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form_select-input" id="employee_type">
            <label for="employee_type">Loại nhân viên</label>
            <select data="<%= specifiedUser.employee_type %>" name="employee_type">
                <% for (var index in employeeTypeList) { %>
                    <option value="<%= employeeTypeList[index].employee_type %>">
                        <%= employeeTypeList[index].employee_type %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form_select-input" id="position">
            <label for="position">Chức vụ</label>
            <select data="<%= specifiedUser.position %>" name="position">
                <% for (var index in positionList) { %>
                    <option value="<%= positionList[index].position %>">
                        <%= positionList[index].position %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form_select-input" id="degree">
            <label for="degree">Bằng cấp</label>
            <select data="<%= specifiedUser.degree %>" name="degree">
                <% for (var index in degreeList) { %>
                    <option value="<%= degreeList[index].degree %>">
                        <%= degreeList[index].degree %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form_select-input" id="status">
            <label for="status">Trạng thái làm việc</label>
            <select data="<%= specifiedUser.status %>" name="status">
                <option value="Đang làm việc">Đang làm việc</option>
                <option value="Đã nghỉ việc">Đã nghỉ việc</option>
            </select>
        </div>
        <input type="submit" value="Xác nhận">
    </form>
</div>
<script src="/js/employee_update.js"></script>