<div id="main">
    <div id="main_title">
        <span>Thông tin của bạn</span>
    </div>
    <div id="main_container">
        <div id="main_container_label">
            <span>Mã nhân viên: <%= user.employee_code %></span>
        </div>
        <div id="main_container_info">
            <div id="avatar">
                <img src=<%=user.avatar_url %> alt="">
            </div>
            <ul class="info" id="grid-left">
                <li class="info-item">Tên nhân viên: <b><%= user.name %></b></li>
                <li class="info-item">CMND, CCCD: <b><%= user.identifier %></b></li>
                <li class="info-item">Ngày cấp: <%= user.identifier_date %></li>
                <li class="info-item">Nơi cấp: <%= user.identifier_place %></li>
                <li class="info-item">Giới tính: <b><%= user.gender %></b></li>
                <li class="info-item">Ngày sinh: <b><%= user.birthday %></b></li>
                <li class="info-item">Nơi sinh: <b><%= user.birthplace %></b></li>
                <li class="info-item">Quốc gia: <%= user.country %></li>
                <li class="info-item">Dân tộc: <%= user.ethnic %></li>
                <li class="info-item">Số điện thoại: <b><%= user.phone %></b></li>
                <li class="info-item">Tôn giáo: <%= user.religion %></li>
            </ul>
            <ul class="info" id="grid-right">
                <li class="info-item">Hộ khẩu: <%= user.household %></li>
                <li class="info-item">Tạm trú: <%= user.temporary_address %></li>
                <li class="info-item">Phòng ban: <b><%= user.department %></b></li>
                <li class="info-item">Loại nhân viên: <%= user.employee_type %></li>
                <li class="info-item">Cấp bậc: <b><%= user.position %></b></li>
                <li class="info-item">Loại bằng cấp: <%= user.degree %></li>
                <li class="info-item">Ngày tạo: <%= user.dateCreated %></li>
                <li class="info-item ">Trạng thái: <span
                <% if(user.status == "Đang làm việc") { %>
                    class="status-block working-status"
                <% } else { %>
                    class="status-block resigned-status"
                <% } %>
                ><%= user.status %></span></li>
            </ul>
        </div>
    </div>
</div>